<!Doctype html>
<html>
<head>
  
    <title>
    Modern Saint Meditation
  </title>
  
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scroll Menu</title>
  <style>
    body{margin:0} .menu-bar{background:#333;overflow:hidden} .menu-bar a{float:left;color:#fff;font-size:30px;text-align:center;padding:20px 26px;text-decoration:none} .menu-bar a:hover{background:#000} .menu-bar .login-appointment{float:right}.
  </style>
</head>
  <body>
   <body>
  <div class="menu-bar">
    <a href="#">Home</a>
    <a href="#">Blogs</a>
    <a href="#">Programs</a>
    <a href="#">Book Appointment</a>
    <a href="#">Contact Us</a>
    <a href="#">About MSM</a>
    <div class="login-appointment">
      <a href="#">Login</a>
      <a href="#">Create Account</a>
  </div>
  
    
    <h1>
   <span style="color: white;font-size: 45px; text-align:center;font-weight: bold;">
    <br> Namaskaram ! 
     <br>Modern Saint Meditation Welcomes you!
  
   </span> 
    </h1>
     <img src="https://modern-saint-meditation--rajni-balabala.repl.co/static/msmbg.jpeg" height="400" width="2200">
    <p>
      <span style="color: white;font-size: 20px;">Meditation plays a crucial role in taking care of mental health by promoting relaxation, reducing stress, and enhancing emotional well-being. Regular meditation practice allows individuals to cultivate mindfulness, which helps them become more aware of their thoughts and emotions without judgment. This heightened self-awareness enables better emotional regulation, reducing anxiety and depression symptoms. Additionally, meditation can improve focus and concentration, enhance cognitive functions, and foster a positive outlook, contributing to overall mental resilience and inner peace.</span>
         </p>
   
    
   </body> 
</html>