  <!-- fixed-top for fixing the top and bg-white or dark for changing color-->

<nav class="navbar fixed-top">
  <div class="logo">
    <img src="static/HDlogo.jpg" alt="Logo">
    <div class="site-name">Modern Saint Meditation</div>
  </div>
  
  <div class="left-items">
    <a href="#">Home</a>
    <a href="#">Blogs</a>
    <a href="#">Programs</a>
    <a href="#">Events</a>
    <a href="#">Appointments</a>
    <a href="#">Culture</a>
    <a href="#">About MSM</a>
  </div>
  
  <div class="search-bar">
    <input class="search-input" type="search" placeholder="Search" aria-label="Search">
  </div>
  
  <div class="right-items">
    <a href="#" class="navbar-link">Sign In</a>
    <a href="#" class="navbar-link">Sign Up</a>
  </div>
</nav>
  </nav>
