  <!-- fixed-top for fixing the top and bg-white or dark for changing color-->

<nav class="navbar fixed-top">
  <div class="logo">
    <img src="static/HDlogo.jpg" alt="Logo">
    <div class="site-name">Modern Saint Meditation</div>
  </div>
  
  <div class="Center-items">
    <a href="#">Home</a>
    <a href="#">Blogs</a>
    <a href="#">Programs</a>
    <a href="#">Events</a>
    <a  href="https://docs.google.com/forms/d/1NsqUkUNPdMr_R7p_fzfaXTOsE7DbnubX_-eWtR7hS2g/edit?pli=1">Appointment</a>
    <a href="#">Culture</a>
    <a href="#">About MSM</a>
    
    <a href="mailto: modernsaintmeditation1221@gmail.com ?subject=Question's%20about%20Programs&body=My%20Name%20%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20Contact%20Number%20%3A%20%3CYour%20contact%20number%20here%20%3A%20Optional%3E%0D%0A%0D%0AMy%20Question%20%3A%20%3CWrite%20your%20Questions%20here%3E%0D%0A%0D%0A%3CNote%20%3A%20%22Please%20don't%20hesitate%20to%20ask%20any%20questions.%20Your%20comfort%20is%20important%2C%20and%20we're%20here%20to%20help.%22%3E%0D%0A%0D%0A%0D%0A">Ask Us</a>
  </div>
  
  <div class="search-bar">
    <input class="search-input" type="search" placeholder="Search" aria-label="Search">
  </div>
  
  
</nav>
  </nav>

