     <div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
       <div class ="col-10">
       <h4 style ="color:rgb(1,1,1); margin-bottom:4px;">{{Programs['title']}}
       </h4>
       
<div>
       <b>Package: </b>{{Programs['Package']}}
     </div>
 {% if 'Fees' in Programs %}      
<div>
    <b>Fees: </b>{{Programs['Fees']}}
     </div>
       {% endif %}
       </div>
       <div class ="col-2">
         <!-- Session request form link in programs -->
        <a  href="https://docs.google.com/forms/d/1NsqUkUNPdMr_R7p_fzfaXTOsE7DbnubX_-eWtR7hS2g/edit?pli=1"
          type="button" class="btn btn-outline-primary">Apply</a>
 <!-- code for direct emailing to msm, email formet added button -->
         <a href="mailto: modernsaintmeditation1221@gmail.com ?subject=Application%20for%20{{Programs['title']}}&body=My%20Name%20%3A%20%3CYour%20name%20here%3E%0D%0A%0D%0AMy%20Contact%20Number%20%3A%20%3CYour%20contact%20number%20here%20%3A%20optional%3E%0D%0A%0D%0AMy%20Concern%20%3A%20%3CWrite%20your%20concerns%20here%3E%0D%0A%0D%0A%3CNote%20%3A-%20%22Your%20comfort%20is%20our%20utmost%20priority%3B%20please%20don't%20hesitate%20to%20share%20your%20concerns%20openly.%20We%20want%20to%20assure%20you%20that%20this%20is%20a%20safe%20and%20non-judgmental%20space.%22%3E%0D%0A%0D%0A%0D%0A"
          type="button" class="btn btn-outline-primary">Email Us</a>
          
     
     </div>
     </div>